/.gitignore~
/NotaryServer.depend
/NotaryServer.depend~
/NotaryServer.layout
/NotaryServer.layout~
/NotaryServer.cbp
/NotaryServer.cbp~
/Makefile~
/bin/*
/obj/*
/testdb/*
/testdb
/server1
/server1/*
/server2
/server2/*
/server3
/server3/*
/server4
/server4/*
/server5
/server5/*
/db
/db/*
/data
/data/*
/server.conf~
/enry.json~
/server.conf
/enry.json
